In [1]:
import pg8000          #pg8000 access SQL databases
import pandas as pd    #pandas will be needed to work in a dataframe

In [2]:
#code from Agata
#these are nice functions to open LIMS, make a query and then close LIMS after

def _connect(user="limsreader", host="limsdb2", database="lims2", password="limsro", port=5432):
    conn = pg8000.connect(user=user, host=host, database=database, password=password, port=port)
    return conn, conn.cursor()

def _select(cursor, query):
    cursor.execute(query)
    columns = [ d[0] for d in cursor.description ]
    return [ dict(zip(columns, c)) for c in cursor.fetchall() ]

def limsquery(query, user="limsreader", host="limsdb2", database="lims2", password="limsro", port=5432):
    """A function that takes a string containing a SQL query, connects to the LIMS database and outputs the result."""
    conn, cursor = _connect(user, host, database, password, port)
    try:
        results = _select(cursor, query)
    finally:
        
        #THESE ARE IMPORTANT!!!!!!
        #Every query needs to be closed when done
        cursor.close()             
        conn.close()
    return results


#this last function will take our query results and put them in a dataframe so that they are easy to work with
def get_lims_dataframe(query):
    '''Return a dataframe with lims query'''
    result = limsquery(query)
    try:
        data_df = pd.DataFrame(data=result, columns=result[0].keys())
    except IndexError:
        print "Could not find results for your query."
        data_df = pd.DataFrame()
    return data_df

In [17]:
query = "SELECT cell.name, proj.code, cell.patched_cell_container, err.blowout_mv \
FROM donors JOIN specimens cell ON donors.id = cell.donor_id \
JOIN projects proj ON cell.project_id = proj.id \
JOIN ephys_roi_results err ON cell.ephys_roi_result_id = err.id \
WHERE (proj.code = 'mIVSCC-MET' OR proj.code = 'T301x') AND \
cell.patched_cell_container IS NULL AND \
err.blowout_mv NOTNULL \
GROUP BY cell.name, proj.code, cell.patched_cell_container, err.blowout_mv"

df = get_lims_dataframe(query)
df.to_excel('T301xMETwithoutTube.xlsx')
df.tail()

,patched_cell_container,code,blowout_mv,name
290,None,T301x,-0.336045,Scnn1a-Tg3-Cre;Ai14-346622.04.01.01
291,None,T301x,0.851241,Oxtr-T2A-Cre;Ai14-328788.04.01.01
292,None,T301x,3.549868,Ai14-Homo-345920.04.01.02
293,None,T301x,-1.659578,Ndnf-IRES2-dgCre;Ai14-237573.03.01.01
294,None,T301x,2.038359,Ndnf-IRES2-dgCre;Ai14-341277.05.01.01